<div class=" h-dvh bg-violet-900 overflow-hidden">
    <div class="row pt-4">
        <div class="chat-container p-3 shadow rounded-3 overflow-hidden position-relative p-0 h-dvh col-md-5 m-auto bg-violet-100">
            <div class="chat-header bg-violet-50 shadow-sm rounded-sm p-3 w-100 absolute top-0 left-0">
                <div class="chat-container-title font-bold text-2xl">Hey👋</div>
            </div>
            <div class="chat-body p-3 mt-5 position-relative h-100">
                <div class="msg-container-left d-flex justify-content-start mb-3">
                    <img 
                        style="width: 2rem;height:2rem;"
                        class="col-1 rounded-circle mr-2" 
                        src="https://cdn-icons-png.flaticon.com/512/149/149071.png" 
                        alt="image">
                    <div 
                    class="chat-container-message bg-violet-200 p-3 py-2 rounded- shadow-sm"
                    style="max-width: 80%;"
                    >
                        <div class="chat-user-name font-bold">Siva</div>
                        <div class="chat-user-message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda fugiat odit molestias dolore ea. Maiores deserunt eius tempore tempora maxime aut aliquid fugiat! Aliquam est dolor iste adipisci nobis fuga.</div>
                        <div class="chat-time float-end text-violet-800 text-sm">12:30 am</div>
                    </div>
                </div>
                <div class="msg-container-right d-flex justify-content-end">
                    <div 
                        class="
                            chat-container-message 
                            bg-yellow-300 
                            p-3
                            py-2
                            rounded-4 
                            shadow-sm"
                        style="max-width: 80%;"
                        >
                        <div class="chat-user-name font-bold">You</div>
                        <div class="chat-user-message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda fugiat odit molestias dolore ea. Maiores deserunt eius tempore tempora maxime aut aliquid fugiat! Aliquam est dolor iste adipisci nobis fuga.</div>
                        <div class="chat-time float-end text-yellow-800 text-sm">12:31 am</div>
                    </div>
                    <img 
                        style="width: 2rem;height:2rem;"
                        class="col-1 rounded-circle ml-2" 
                        src="https://cdn-icons-png.flaticon.com/512/149/149071.png" 
                        alt="image">
                </div>
                <div class="chat-box d-flex w-100 p-1 rounded-pill bg-violet-200 absolute" style="bottom: 5rem;right:0;">
                    <input 
                        class="w-100 rounded-pill mr-2 p-3 text-2xl text-violet-800"
                        type="text">
                    <button
                        class="bg-violet-800 p-3 rounded-circle text-light"
                        style="width: 4.3rem;"
                    ><i class="fa-solid fa-paper-plane"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
